<section class="jumbotron text-center" [ngStyle]="{ 'background-color': selectedBackgroundColor }">
    <h1 class="jumbotron-heading">{{ appName }}</h1>
    <p class="lead text-muted"> {{ text }} </p>

    <p>
        <button class="btn" [ngClass]="{ 'btn-success': colorIndex === 1, 'btn-danger': colorIndex === 2 }">Dynamic Color</button>&nbsp;
        <button class="btn btn-secondary" disabled="!isDisable">Disabled Action</button>&nbsp;
        <button class="btn btn-info" (click)="onClick($event)">Eventy Property</button>
    </p>
</section>

<app-articles (backgroundColor)=(onSetBackgroundColor($event))>
    <img src="https://img.vixdata.io/pd/jpg-large/pt/sites/default/files/g/got-drogon-dragon-daenerys-s8.jpg" width="100%" alt="DeLorean">
</app-articles>

<app-posts *ngIf="globals.LoggedUser"></app-posts>
